.container {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  right: 40px;
  bottom: 20px;
  width: 420px;
  top: 20px;
  pointer-events: auto;
  border-radius: 2px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  // TODO ::: fix this
  // overflow-y: hidden;
}

.elementsContainer {
  flex: 1 1 auto;
  // overflow-y: auto;
}
