.container:not(:first-child) {
  margin: 20px 0;
}

.header {
  display: grid;
  row-gap: 4px;
  column-gap: 10px;
  grid-template-columns: 80px 1fr;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.values {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.2s ease-out;
}

.valuesActive {
  visibility: visible;
  opacity: 1;
  max-height: 300px;
  transition: all 0.5s ease-out;
}

.thumbnail {
  background: #cccccc;
  width: 80px;
  height: 40px;
  grid-row: 1 / span 2;
  border-radius: 2px;
  align-self: center;
  transition: background 0.5ms ease-out;
}

.title {
  font-size: 20px;
  color: #e9dfdf;
  font-weight: 500;
  text-transform: capitalize;
}

.subtitle {
  font-size: 16px;
  color: #6692c5;
  font-weight: 400;
  text-transform: capitalize;
}

.valuesContainer {
  display: flex;
  gap: 12px;
  margin: 16px 0 8px 0;
}

.smallThumb {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  cursor: pointer;
}

.smallThumbSelected {
  border: white 2px solid;
}

.elements-container {
}
