@import "css/config.scss";

body {
  color: $light;
}

.btn {
  width: 160px;
  padding: 10px 12px;
  background: transparent;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.15s ease-out;
  white-space: nowrap;
  letter-spacing: 1px;
  border-radius: 2px;
  font-weight: bold;
}

.btn_primary {
  color: $light;
  border: $light 2px solid;
}

.btn_primary:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
